.gold {
    background-color: gold !important;
}

.darkorange {
    background-color: darkorange !important;
}

.indianred {
    background-color: indianred!important;
}

.darkmagenta {
    background-color: darkmagenta!important;
}

.cornflowerblue {
    background-color: cornflowerblue!important;
}

.deepskyblue {
    background-color: deepskyblue!important;
}

.darkcyan {
    background-color: darkcyan!important;
}

.olivedrab {
    background-color: olivedrab!important;
}

.darkslategray {
    background-color: darkslategray!important;
}

.azure {
    background-color: azure!important;
}

.white {
    background-color: white!important;
}

.lightgray {
    background-color: lightgray!important;
}

.darkgray {
    background-color: darkgray!important;
}

.dimgray {
    background-color: dimgray!important;
}

.black {
    background-color: black!important;
}